body {
  
  background-color: black; /* Dark gray background */
  font-family: Poppins, sans-serif;
  overflow-x: hidden;
}




/* home */
.gradient-text {
  background: linear-gradient(138deg, #ff8660 15%, #8000ff 104.95%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.img-container {
  background: linear-gradient(138deg, #FF8660 9.86%, #8000FF 104.95%);
  padding-bottom: 10px;
  aspect-ratio: 1;
}
.img-container img {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 100%;
}

#land{
margin-top: 130px;
margin-bottom: 120px;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
.typewriter {
  display: inline-block;
  overflow: hidden;
  border-right: .15em solid gray;
  white-space: nowrap;
  margin: 0 auto;
  padding: 0 10px;
  animation: typing 5s steps(80, end), blink-caret .75s infinite;
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: transparent }
}









/* about me */
.about-me-title {
  background: linear-gradient(180deg, #9360ff 0%, #8f1dd5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  font-size: 35px;
  line-height: 102%;
  font-family: Poppins, sans-serif;
}

.about-me-description {
  color: #c5c5c5;
  letter-spacing: 0.36px;
  font-weight: 300;
  font-size: 18px;
  font-family: Poppins, sans-serif;
}

  /* .about-me-details-label,
  .about-me-details-value {
    color: #c5c5c5;
    letter-spacing: 0.36px;
    font-weight: 300;
    font-size: 18px;
    font-family: Poppins, sans-serif;
  } */
  
  .about-me-actions {
    font-size: 21px;
    font-weight: 600;
  }
  
  .about-me-contact-btn {
    -webkit-text-stroke-width: 0.3246873915195465;
    -webkit-text-stroke-color: #fff;
    font-family: Poppins, sans-serif;
    border: 1px solid #fff;
    border-radius: 50px;
    background: linear-gradient(0deg, #fff 0%, #fff 100%), #fff;
    color: #161513;
    justify-content: center;
    padding: 24px 30px;
  }
  
  .about-me-download-btn {
    -webkit-text-stroke-width: 0.3246873915195465;
    -webkit-text-stroke-color: #000;
    font-family: Poppins, sans-serif;
    border-radius: 50px;
    border: 2px solid #fff;
    color: #fff;
    justify-content: center;
    padding: 24px 28px;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  .typewriter {
    display: inline-block;
    overflow: hidden;
    border-right: .15em solid gray;
    white-space: nowrap;
    margin: 0 auto;
    padding: 0 10px;
    animation: typing 5s steps(80, end), blink-caret .75s step-end infinite;
  }
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: transparent }
  }
#textss>p{
  color: #c5c5c5;
}

/* .about-me-details-label,
.about-me-details-value {
  color: #c5c5c5;
  letter-spacing: 0.36px;
  font-weight: 300;
  font-size: 18px;
  font-family: Poppins, sans-serif;
} */

.about-me-actions {
  font-size: 21px;
  font-weight: 600;
}

.about-me-contact-btn {
  -webkit-text-stroke-width: 0.3246873915195465;
  -webkit-text-stroke-color: #fff;
  font-family: Poppins, sans-serif;
  border: 1px solid #fff;
  border-radius: 50px;
  background: linear-gradient(0deg, #fff 0%, #fff 100%), #fff;
  color: #161513;
  justify-content: center;
  padding: 24px 30px;
}

.about-me-download-btn {
  -webkit-text-stroke-width: 0.3246873915195465;
  -webkit-text-stroke-color: #000;
  font-family: Poppins, sans-serif;
  border-radius: 50px;
  border: 2px solid #fff;
  color: #fff;
  justify-content: center;
  padding: 24px 28px;
}

#about{
  margin-bottom: 120px;
}






/* Skills */
.skills-section {
  max-width: 872px;
  margin: 0 auto; /* Center horizontally */
  padding: 0 20px;
  text-align: center; /* Align text and icons center */
}

.skills-title {
  text-transform: uppercase;
  background: linear-gradient(90deg, #2df872 0%, #0fc000 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font: 800 35px/102% Poppins, sans-serif;
}

.skills-icons {
  margin-top: 85px;
}

.skill-icon {
  text-align: center;
}

.skill-img {
  width: 70px;
  margin-bottom: 10px;
}

.progress {
  height: 20px; /* Adjust progress bar height */
}


#skills{
  /* margin-top: 100px; */
  margin-bottom: 120px;
}
.row>*{
  margin-top: 3%;
}

.h2style{
  font-size: medium;
  font-weight: 100;
  background: linear-gradient(138deg, #ff8660 15%, #8000ff 104.95%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Project */

.projects-section {
  padding: 0 20px;
}

.projects-heading {
  text-transform: uppercase;
  font: 800 35px/102% Poppins, sans-serif;
  background: linear-gradient(180deg, #ff8660 0%, #d5491d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 50px; /* Adjusted margin-top */
  margin-bottom: 50px; /* Adjusted margin-bottom */
  text-align: center; /* Centered title */
}

.projects-container {
  margin-top: 33px;
}

.project-thumbnail {
  display: block; /* Ensures the image is displayed as a block element */
  margin: 0 auto; /* Centers the image horizontally */
  max-width: 20%;
  height: auto;
}

.carousel-inner_2 {
  width: 100%; /* Changed width to 100% */
  height: auto; /* Changed height to auto */
}

.carousel-item {
  text-align: center; /* Center content within carousel items */
}

.carousel-caption {
  background-color: rgba(255, 255, 255, 0.8); /* Added background color with transparency */
  position: absolute;
  width: 100%; /* Ensure caption spans the full width */
  bottom: 0; /* Position the caption at the bottom */
  left: 0; /* Align the caption to the left */
  padding: 10px; /* Add padding to the caption */
  font-size: medium;
  color: #161513;
}
/* Add a custom class to the carousel item for the larger image */
.makeBig {
  text-align: center; /* Center the image */
}

.makeBig img {
  width: 200%; /* Make the image 200% bigger */
  /* height: auto; Maintain aspect ratio */
}


#projects{
  margin-bottom: 120px;
}

/* Experience */

.experience-section {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  max-width: 804px;
  padding: 0 20px;
}

.experience-title {
  align-self: center;
  background-clip: text;
  background: var(--Blue-Gradient, linear-gradient(180deg, #5badff 0%, #1373d1 100%));
  font: 800 35px/102% Poppins, sans-serif;
  text-transform: uppercase;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.experience-item {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-top: 63px;
  padding: 0 2px;
  text-align: center;
  width: 100%;
}

@media (max-width: 991px) {
  .experience-item {
    flex-wrap: wrap;
    margin-top: 40px;
    max-width: 100%;
  }
}

.experience-details {
  color: var(--Primary-Color, #fff);
  display: flex;
  font-size: 22px;
  font-weight: 700;
  gap: 20px;
}

@media (max-width: 991px) {
  .experience-details {
    flex-wrap: wrap;
  }
}

.company-logo {
  aspect-ratio: 1.06;
  object-fit: auto;
  object-position: center;
  width: 34px;
}

.job-title {
  flex-basis: auto;
  flex-grow: 1;
  font-family: Poppins, sans-serif;
}

.experience-duration {
  color: var(--Light-Grey, #8491a0);
  display: flex;
  font-size: 14px;
  font-weight: 400;
  gap: 8px;
  line-height: 150%;
  margin: auto 0;
}

.calendar-icon {
  aspect-ratio: 1.49;
  object-fit: auto;
  object-position: center;
  width: 18px;
}

.duration {
  flex-basis: auto;
  flex-grow: 1;
  font-family: Poppins, sans-serif;
}

.experience-description {
  color: var(--Light-Grey, #8491a0);
  font: 400 14px/22px Poppins, sans-serif;
  margin-top: 25px;
  width: 100%;
}

@media (max-width: 991px) {
  .experience-description {
    max-width: 100%;
  }
}

.apple-logo {
  align-self: start;
  aspect-ratio: 0.87;
  fill: var(--Primary-Color, #fff);
  object-fit: auto;
  object-position: center;
  width: 27px;
}

.meta-logo {
  align-self: start;
  aspect-ratio: 1.49;
  fill: var(--Blue-Gradient, #5badff);
  object-fit: auto;
  object-position: center; 
  width: 33px;
} 

#experience{
  margin-bottom: 120px;
}

/* education */

.education-section {
  display: flex;
  flex-direction: column;
  max-width: 799px;
  padding: 0 20px;
  margin: 0 auto; /* Center horizontally */
}

.education-title {
  margin-top: 100px;
  text-transform: uppercase;
  background: linear-gradient(180deg, #ff5b5b 0%, #d11313 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  align-self: center;
  font: 800 35px/102% Poppins, sans-serif;
}

.education-item {
  display: flex;
  width: 100%;
  gap: 20px;
  font-weight: 400;
  margin-top: 88px;
}

@media (max-width: 991px) {
  .education-item {
    flex-wrap: wrap;
    margin-top: 40px;
  }
}

.education-degree {
  color: var(--dark-content, #666);
  letter-spacing: 1px;
  flex-grow: 1;
  flex-basis: auto;
  font: 20px/140% Poppins, sans-serif;
}

@media (max-width: 991px) {
  .education-degree {
    max-width: 100%;
  }
}

.education-details {
  align-self: start;
  display: flex;
  gap: 7px;
  font-size: 14px;
  color: var(--Light-Grey, #8491a0);
  text-align: center;
  line-height: 150%;
}

.education-icon {
  width: 18px;
  aspect-ratio: 1.39;
  object-fit: auto;
  object-position: center;
}

.education-date {
  font-family: Poppins, sans-serif;
  flex-grow: 1;
  flex-basis: auto;
}

.education-institute {
  align-self: start;
  display: flex;
  gap: 5px;
  font-size: 12px;
  color: var(--light-Content, #a7a7a7);
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 233%;
}

.education-location-icon {
  width: 18px;
  aspect-ratio: 1.49;
  object-fit: auto;
  object-position: center;
  align-self: start;
}

.education-location {
  font-family: Poppins, sans-serif;
  flex-grow: 1;
  flex-basis: auto;
}

.education-separator {
  width: 100%;
  min-height: 2px;
  margin-top: 25px;
  background-color: var(--Colors-Grey, #ebeaed);
}

@media (max-width: 991px) {
  .education-separator {
    max-width: 100%;
  }
}

#education{
  margin-bottom: 120px;
}
/* testimonial */

/* *,*::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}*/

/* #carouselExampleCaptions {
margin: auto;
margin-top: 100px;
width: 80vw;
height: 100%;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
} */

.carousel-inner {
  width: 100%;
}

.new {
  position: absolute;
  /* top: 10px; */
  right: 10px;
  display: inline;
}

/* Controls */
i.fa-arrow-right,
i.fa-arrow-left {
background: none;
border: 2px solid #ffc107;
color: black;
padding: 10px;
border-radius: 100%;
transition: background .6s ease;
}

.control-btn  {
  position: absolute;
  top: -1em;
  right: 5em;
}

.carousel-item .card {
  height: 20em;
  height: fit-content;
}

.control-btn i.fa-arrow-left {
  position: absolute;
  right: 6em;
} 

i.fa-arrow-right:hover,
i.fa-arrow-left:hover {
background: #ffc107;
color: black;
}

.carousel-control-next {
  margin: 0 3em;
}

/* Indicators */

.carousel-indicators [data-bs-target] {
width: 10px;
height: 10px;
border-radius: 100%;
border: 2px solid #ffc107;
}

.carousel-indicators .active {
  opacity: 1;
  background-color:  #ffc107;
}

@media screen and (max-width: 900px){
#carouselExampleCaptions {
width: 70vw;
height: 70vw;
}

.card img {
  width: 100%;
}

.card .name {
margin-top: 1em;
  font-size: 1em;
  font-weight: 700;
}

.card .role {
  font-size: 0.8em;
}

.card .work-at {
  font-size: 0.6em;
}
}

@media screen and (max-width: 576px) {
#carouselExampleCaptions {
width: 70vw;
height: 70vh;
}

.carousel-item .card .card-body {
position: absolute;
bottom: 20px;
left: 10px;
background-color: rgba(255, 255, 255, 0.9);
border-radius: 10px;
}

}
#testimonial{
  margin-bottom: 120px;
}

/* Contact */
    
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

.formcarry-container {
box-sizing: border-box;
/* margin: 40px auto 0 auto; */
padding: 0;
font-family: "Inter", sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.01em;

width: 400px;

/* NORMAL */
--fc-border-color: #ECEFF9;
--fc-normal-text-color: #0E0B3D;
--fc-normal-placeholder-color: #B3B8D0;

/* PRIMARY COLOR | HSL FORMAT*/
--fc-primary-color-hue: 220;
--fc-error-color-hue: 356;
--fc-primary-hsl: var(--fc-primary-color-hue), 100%, 54%;
--fc-error-hsl: var(--fc-error-color-hue), 100%, 54%;

/* HOVER */
--fc-field-hover-bg-color: #F7F9FC;
--fc-border-hover-color: #DDE0EE;
--fc-field-hover-text-color: #B3B8D0;

--fc-border-active-color: #1463FF;
}

.formcarry-container * {
box-sizing: border-box;
}

.formcarry-container label {
display: block;
cursor: pointer;
}

.formcarry-container .formcarry-block:not(:first-child) {
margin-top: 16px;
}

/*=============================================
=            Fields           =
=============================================*/

.formcarry-container input,
.formcarry-container textarea,
.formcarry-container select {
margin-top: 4px;
width: 100%;
height: 42px;
border: 1px solid var(--fc-border-color);
color: var(--fc-normal-text-color);
border-radius: 6px;
padding: 8px 12px;

font-family: "Inter", sans-serif;
font-size:14px;
transition: 125ms background, 125ms color, 125ms box-shadow;
}

.formcarry-container textarea{
min-height: 188px;
max-width: 100%;
padding-top: 12px;
}

.formcarry-container input::placeholder,
.formcarry-container textarea::placeholder,
.formcarry-container select::placeholder {
color: var(--fc-normal-placeholder-color);
}

.formcarry-container input:hover,
.formcarry-container textarea:hover,
.formcarry-container select:hover {
border-color: var(--fc-border-hover-color);
background-color: var(--fc-field-hover-bg-color);
}

.formcarry-container input:hover::placeholder,
.formcarry-container textarea:hover::placeholder,
.formcarry-container select:hover::placeholder {
color: var(--fc-field-hover-text-color);
}

.formcarry-container input:focus,
.formcarry-container textarea:focus,
.formcarry-container select:focus {
background-color: #fff;
border-color: hsl(var(--fc-primary-hsl));
box-shadow: hsla(var(--fc-primary-hsl), 8%) 0px 0px 0px 3px;
outline: none;
}

.formcarry-container select {
background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9997 14.5001L8.46387 10.9642L9.64303 9.78589L11.9997 12.1434L14.3564 9.78589L15.5355 10.9642L11.9997 14.5001Z' fill='%236C6F93'/%3E%3C/svg%3E%0A");
/* background-position: calc(100% - 20px) calc(1em + 4px), calc(100% - 15px) calc(1em + 4px); */
background-size: 24px 24px;
background-position: 98%;
background-repeat: no-repeat;
appearance: none;
-webkit-appearance: none;
}

.formcarry-container button {
font-family: "Inter", sans-serif;
font-weight: 500;
font-size: 14px;
letter-spacing: -0.02em;
height: 42px;
line-height: 40px;
width: 100%;
border-radius: 6px;
box-sizing: border-box;
border: 1px solid hsla(var(--fc-primary-hsl));
background-color: hsla(var(--fc-primary-hsl));
color: #fff;
cursor: pointer;
}

.formcarry-container button {
font-family: "Inter", sans-serif;
font-weight: 500;
font-size: 14px;
letter-spacing: -0.02em;
height: 40px;
line-height: 24px;
width: 100%;
border: 0;
border-radius: 6px;
box-sizing: border-box;
background-color: hsla(var(--fc-primary-hsl));
color: #fff;
cursor: pointer;
box-shadow: 0 0 0 0 transparent;

transition: 125ms all;
}

.formcarry-container button:hover {
background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), hsla(var(--fc-primary-hsl));
}

.formcarry-container button:focus {
background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), hsla(var(--fc-primary-hsl));
border-inline: 1px solid inline rgba(255, 255, 255, 0.6);
box-shadow: 0px 0px 0px 3px rgba(var(--fc-primary-hsl), 12%);
}

.formcarry-container button:active {
background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), hsla(var(--fc-primary-hsl));
}

.formcarry-container button:disabled {
background-color: hsla(var(--fc-primary-hsl), 40%);
cursor: not-allowed;
}

.formcarry-container input:focus:required:invalid,
.formcarry-container input:focus:invalid, 
.formcarry-container select:focus:required:invalid,
.formcarry-container select:focus:invalid
{
color: hsl(var(--fc-error-hsl)); 
border-color: hsl(var(--fc-error-hsl));
box-shadow: 0px 0px 0px 3px hsla(var(--fc-error-hsl), 12%);
}


.contact-info {
border-radius: 10px;
background-color: rgba(0, 0, 0, 1);
display: flex;
max-width: 491px;
flex-direction: column;
padding: 49px 0 0 39px;
}

@media (max-width: 991px) {
.contact-info {
  padding-left: 20px;
}
}

.contact-info-title {
background: linear-gradient(90deg, #fb9f49 0%, #ec8e00 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font: 600 28px Poppins, sans-serif;
}

@media (max-width: 991px) {
.contact-info-title {
  max-width: 100%;
}
}

.contact-info-subtitle {
color: #c9c9c9;
margin-top: 23px;
font: 400 18px Poppins, sans-serif;
}

@media (max-width: 991px) {
.contact-info-subtitle {
  max-width: 100%;
}
}

.contact-info-phone {
align-self: start;
display: flex;
margin-top: 113px;
gap: 20px;
font-size: 16px;
color: #fff;
font-weight: 400;
}

@media (max-width: 991px) {
.contact-info-phone {
  margin-top: 40px;
}
}

.contact-info-icon {
aspect-ratio: 1;
object-fit: auto;
object-position: center;
width: 24px;
}

.contact-info-phone-number {
font-family: Poppins, sans-serif;
flex-grow: 1;
flex-basis: auto;
margin: auto 0;
}

.contact-info-email {
align-self: start;
display: flex;
margin-top: 50px;
gap: 20px;
font-size: 16px;
color: #fff;
font-weight: 400;
white-space: nowrap;
}

@media (max-width: 991px) {
.contact-info-email {
  margin-top: 40px;
  white-space: initial;
}
}

.contact-info-email-address {
font-family: Poppins, sans-serif;
flex-grow: 1;
flex-basis: auto;
}

.contact-info-location {
align-self: start;
display: flex;
margin-top: 50px;
gap: 20px;
font-size: 16px;
color: #fff;
font-weight: 400;
}

@media (max-width: 991px) {
.contact-info-location {
  margin-top: 40px;
}
}

.contact-info-location-text {
font-family: Poppins, sans-serif;
flex-grow: 1;
flex-basis: auto;
}

.contact-info-bottom {
margin-top: 66px;
}

@media (max-width: 991px) {
.contact-info-bottom {
  max-width: 100%;
  margin-top: 40px;
}
}

.contact-info-bottom-content {
gap: 20px;
display: flex;
}

@media (max-width: 991px) {
.contact-info-bottom-content {
  flex-direction: column;
  align-items: stretch;
  gap: 0px;
}
}

.contact-info-bottom-left {
display: flex;
flex-direction: column;
line-height: normal;
width: 56%;
margin-left: 0px;
}

@media (max-width: 991px) {
.contact-info-bottom-left {
  width: 100%;
}
}

.contact-info-social-icons {
display: flex;
margin-top: 117px;
gap: 20px;
justify-content: space-between;
}

@media (max-width: 991px) {
.contact-info-social-icons {
  margin-top: 40px;
}
}

.contact-info-social-icon {
aspect-ratio: 1;
object-fit: auto;
object-position: center;
width: 30px;
}

.contact-info-bottom-right {
display: flex;
flex-direction: column;
line-height: normal;
width: 44%;
margin-left: 20px;
}

@media (max-width: 991px) {
.contact-info-bottom-right {
  width: 100%;
}
}

.contact-info-avatar {
border-radius: 50%;
background-color: #1a1a1a;
display: flex;
padding-bottom: 71px;
flex-direction: column;
align-items: start;
width: 182px;
height: 182px;
margin: 0 auto;
}

@media (max-width: 991px) {
.contact-info-avatar {
  margin-top: 40px;
}
}

.contact-info-avatar-image {
background-color: rgba(72, 72, 72, 0.5);
border-radius: 50%;
z-index: 10;
margin-top: -26px;
width: 138px;
height: 138px;
}

.contact-form-container {
display: flex;
flex-wrap: wrap;
}

.contact-info, .formcarry-container {
flex: 1 1 50%;
max-width: 50%;
padding: 0 15px;
}
#contact{
  margin-bottom: 120px;
}

/* footer */
.footer {
  background-color: #191919;
  padding: 40px 80px;
}

@media (max-width: 991px) {
  .footer {
      padding: 40px 20px; /* Adjusted padding for smaller screens */
  }
}

.footer-content {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .footer-content {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
  }
}

.footer-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 23%;
  margin-left: 0;
}

@media (max-width: 991px) {
  .footer-column {
      width: 100%;
      margin-left: 0; /* Removed unnecessary margin */
  }
}

.footer-email {
  display: flex;
  gap: 17px;
  font-size: 14px;
  color: var(--Secondary-Text, #c5c5c5);
  font-weight: 600;
  white-space: nowrap;
  letter-spacing: 0.28px;
}

@media (max-width: 991px) {
  .footer-email {
      margin-top: 40px;
      white-space: initial;
  }
}

.footer-email-icon {
  aspect-ratio: 1.27;
  object-fit: contain; /* Adjusted object-fit */
  width: 14px;
  stroke-width: 0.884px;
  stroke: var(--Primary-Color, #fff);
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 8px; /* Added margin for better spacing */
}

.footer-email-text {
  font-family: Poppins, sans-serif;
  flex-grow: 1;
  flex-basis: auto;
}

.footer-column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 77%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .footer-column-2 {
      width: 100%;
      margin-left: 0; /* Removed unnecessary margin */
  }
}

.footer-info {
  display: flex;
  width: 100%;
  flex-grow: 1;
  gap: 20px;
}

@media (max-width: 991px) {
  .footer-info {
      max-width: 100%;
      margin-top: 40px;
      flex-wrap: wrap;
  }
}

.footer-text {
  color: var(--light-Content, #a7a7a7);
  text-align: center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: var(--Gradient-Heading, linear-gradient(90deg, #13b0f5 -2.06%, #e70faa 100%));
  flex-grow: 1;
  flex-basis: auto;
  font: 400 18px/26px Poppins, sans-serif;
  margin-bottom: 20px; /* Added margin for better spacing */
}

.footer-social-icons {
  align-self: start;
  display: flex;
  gap: 20px;
  justify-content: flex-start; /* Adjusted alignment */
}

.footer-social-icon-1,
.footer-social-icon-2,
.footer-social-icon-3 {
  aspect-ratio: 1;
  object-fit: contain; /* Adjusted object-fit */
  width: 20px; /* Adjusted width for consistency */
  fill: var(--Primary-Color, #fff);
  margin-right: 8px; /* Added margin for better spacing */
}

/*=====  End of Fields  ======*/

/* make glow for title */
#text-glow1 {

	animation: glow1 1s ease-in-out infinite alternate;
	  
   }

   @keyframes glow1 {
     from{
	   text-shadow: 0 0 10px rgb(253, 0, 253), 0 0 20px rgb(253, 0, 253), 0 0 30px rgb(253, 0, 253), 0 0 40px rgb(253, 0, 253),0 0 50px rgb(253, 0, 253);
	 }
	 to {
	   text-shadow: 0 0 60px rgb(253, 0, 253), 0 0 70px rgb(253, 0, 253);
	 }
   
}

#text-glow2 {
    
	animation: glow2 1s ease-in-out infinite alternate;
	  
   }

   @keyframes glow2 {
     from{
	   text-shadow: 0 0 10px rgb(0, 253, 34), 0 0 20px rgb(0, 253, 34), 0 0 30px rgb(0, 253, 34), 0 0 40px rgb(0, 253, 34),0 0 50px rgb(0, 253, 34);
	 }
	 to {
	   text-shadow: 0 0 60px rgb(0, 253, 34), 0 0 70px rgb(0, 253, 34);
	 }
   
}

#text-glow3 {
    
	animation: glow3 1s ease-in-out infinite alternate;
	  
   }

   @keyframes glow3 {
     from{
	   text-shadow: 0 0 10px rgb(253, 173, 0), 0 0 20px rgb(253, 173, 0), 0 0 30px rgb(253, 173, 0), 0 0 40px rgb(253, 173, 0),0 0 50px rgb(253, 173, 0);
	 }
	 to {
	   text-shadow: 0 0 60px rgb(253, 173, 0), 0 0 70px rgb(253, 173, 0);
	 }
   
}
#text-glow4 {
    
	animation: glow4 1s ease-in-out infinite alternate;
	  
   }

   @keyframes glow4 {
     from{
	   text-shadow: 0 0 10px rgb(0, 42, 253), 0 0 20px rgb(0, 42, 253), 0 0 30px rgb(0, 42, 253), 0 0 40px rgb(0, 42, 253),0 0 50px rgb(0, 42, 253);
	 }
	 to {
	   text-shadow: 0 0 60px rgb(0, 42, 253), 0 0 70px rgb(0, 42, 253);
	 }
   
}
#text-glow5 {
    
	animation: glow5 1s ease-in-out infinite alternate;
	  
   }

   @keyframes glow5 {
     from{
	   text-shadow: 0 0 10px rgb(253, 0, 0), 0 0 20px rgb(253, 0, 0), 0 0 30px rgb(253, 0, 0), 0 0 40px rgb(253, 0, 0),0 0 50px rgb(253, 0, 0);
	 }
	 to {
	   text-shadow: 0 0 60px rgb(253, 0, 0), 0 0 70px rgb(253, 0, 0);
	 }
   
}
#text-glow6 {
    
	animation: glow6 1s ease-in-out infinite alternate;
	  
   }

   @keyframes glow6 {
     from{
	   text-shadow: 0 0 10px rgb(152, 0, 253), 0 0 20px rgb(152, 0, 253), 0 0 30px rgb(152, 0, 253), 0 0 40px rgb(152, 0, 253),0 0 50px rgb(152, 0, 253);
	 }
	 to {
	   text-shadow: 0 0 60px rgb(152, 0, 253), 0 0 70px rgb(152, 0, 253);
	 }
   
}