body {
    background-color: #15171a; /* Dark gray background */
    font-family: Poppins, sans-serif;
}

/* home */
.gradient-text {
    background: linear-gradient(138deg, #ff8660 15%, #8000ff 104.95%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.img-container {
    background: linear-gradient(138deg, #FF8660 9.86%, #8000FF 104.95%);
    padding-bottom: 10px;
    aspect-ratio: 1;
}
.img-container img {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 100%;
}

#land{
  margin-top: 100px;
  margin-bottom: 200px;
}

/* about me */
.about-me-title {
    background: linear-gradient(180deg, #9360ff 0%, #8f1dd5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-size: 35px;
    line-height: 102%;
    font-family: Poppins, sans-serif;
  }
  
  .about-me-description {
    color: #c5c5c5;
    letter-spacing: 0.36px;
    font-weight: 300;
    font-size: 18px;
    font-family: Poppins, sans-serif;
  }

  #textss>p{
    color: #c5c5c5;
  }


  /* .about-me-details-label,
  .about-me-details-value {
    color: #c5c5c5;
    letter-spacing: 0.36px;
    font-weight: 300;
    font-size: 18px;
    font-family: Poppins, sans-serif;
  } */
  
  .about-me-actions {
    font-size: 21px;
    font-weight: 600;
  }
  
  .about-me-contact-btn {
    -webkit-text-stroke-width: 0.3246873915195465;
    -webkit-text-stroke-color: #fff;
    font-family: Poppins, sans-serif;
    border: 1px solid #fff;
    border-radius: 50px;
    background: linear-gradient(0deg, #fff 0%, #fff 100%), #fff;
    color: #161513;
    justify-content: center;
    padding: 24px 30px;
  }
  
  .about-me-download-btn {
    -webkit-text-stroke-width: 0.3246873915195465;
    -webkit-text-stroke-color: #000;
    font-family: Poppins, sans-serif;
    border-radius: 50px;
    border: 2px solid #fff;
    color: #fff;
    justify-content: center;
    padding: 24px 28px;
  }

  /* Skills */
  .skills-section {
    max-width: 872px;
    margin: 0 auto; /* Center horizontally */
    padding: 0 20px;
    text-align: center; /* Align text and icons center */
  }

  .skills-title {
    text-transform: uppercase;
    background: linear-gradient(90deg, #2df872 0%, #0fc000 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font: 800 35px/102% Poppins, sans-serif;
  }

  .skills-icons {
    display: flex;
    justify-content: space-between; /* Maintain space between icons */
    margin-top: 85px;
    gap: 40px;
  }

  @media (max-width: 991px) {
    .skills-icons {
      max-width: 100%;
      flex-wrap: wrap;
      margin-top: 40px;
    }
  }

  .skill-icon {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 70px;
    margin: 0 15px; /* Adjust margin for space between icons */
    fill: linear-gradient(180deg, #fdfdfd 0%, rgba(255, 255, 255, 0.18) 100%);
  }

  .skill-icon.square {
    aspect-ratio: 0.88;
    width: 62px;
  }

  #skills{
    margin-top: 100px;
    margin-bottom: 100px;
  }

  /* Project */

  .projects-section {
    padding: 0 20px;
  }
  .projects-heading {
    text-transform: uppercase;
    font: 800 35px/102% Poppins, sans-serif;
    background: linear-gradient(180deg, #ff8660 0%, #d5491d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    align-self: center;
    margin-top: 200px; /* Adjusted margin-top */
    margin-bottom: 100px;
    text-align: center; /* Centered title */
  }
  .projects-container {
    margin-top: 33px;
  }
  .project-thumbnail {
    max-width: 100%; 
    height: auto; 
  }

  .carousel-inner {
    width:640px;
    height:360px;
    /* align-items: center; */
  }

  /* Experience */

  .experience-section {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    max-width: 804px;
    padding: 0 20px;
  }

  .experience-title {
    align-self: center;
    background-clip: text;
    background: var(--Blue-Gradient, linear-gradient(180deg, #5badff 0%, #1373d1 100%));
    font: 800 35px/102% Poppins, sans-serif;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .experience-item {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-top: 63px;
    padding: 0 2px;
    text-align: center;
    width: 100%;
  }

  @media (max-width: 991px) {
    .experience-item {
      flex-wrap: wrap;
      margin-top: 40px;
      max-width: 100%;
    }
  }

  .experience-details {
    color: var(--Primary-Color, #fff);
    display: flex;
    font-size: 22px;
    font-weight: 700;
    gap: 20px;
  }

  @media (max-width: 991px) {
    .experience-details {
      flex-wrap: wrap;
    }
  }

  .company-logo {
    aspect-ratio: 1.06;
    object-fit: auto;
    object-position: center;
    width: 34px;
  }

  .job-title {
    flex-basis: auto;
    flex-grow: 1;
    font-family: Poppins, sans-serif;
  }

  .experience-duration {
    color: var(--Light-Grey, #8491a0);
    display: flex;
    font-size: 14px;
    font-weight: 400;
    gap: 8px;
    line-height: 150%;
    margin: auto 0;
  }

  .calendar-icon {
    aspect-ratio: 1.49;
    object-fit: auto;
    object-position: center;
    width: 18px;
  }

  .duration {
    flex-basis: auto;
    flex-grow: 1;
    font-family: Poppins, sans-serif;
  }

  .experience-description {
    color: var(--Light-Grey, #8491a0);
    font: 400 14px/22px Poppins, sans-serif;
    margin-top: 25px;
    width: 100%;
  }

  @media (max-width: 991px) {
    .experience-description {
      max-width: 100%;
    }
  }

  .apple-logo {
    align-self: start;
    aspect-ratio: 0.87;
    fill: var(--Primary-Color, #fff);
    object-fit: auto;
    object-position: center;
    width: 27px;
  }

  .meta-logo {
    align-self: start;
    aspect-ratio: 1.49;
    fill: var(--Blue-Gradient, #5badff);
    object-fit: auto;
    object-position: center; 
    width: 33px;
  } 

  /* education */

  .education-section {
    display: flex;
    flex-direction: column;
    max-width: 799px;
    padding: 0 20px;
    margin: 0 auto; /* Center horizontally */
  }

  .education-title {
    margin-top: 100px;
    text-transform: uppercase;
    background: linear-gradient(180deg, #ff5b5b 0%, #d11313 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    align-self: center;
    font: 800 35px/102% Poppins, sans-serif;
  }

  .education-item {
    display: flex;
    width: 100%;
    gap: 20px;
    font-weight: 400;
    margin-top: 88px;
  }

  @media (max-width: 991px) {
    .education-item {
      flex-wrap: wrap;
      margin-top: 40px;
    }
  }

  .education-degree {
    color: var(--dark-content, #666);
    letter-spacing: 1px;
    flex-grow: 1;
    flex-basis: auto;
    font: 20px/140% Poppins, sans-serif;
  }

  @media (max-width: 991px) {
    .education-degree {
      max-width: 100%;
    }
  }

  .education-details {
    align-self: start;
    display: flex;
    gap: 7px;
    font-size: 14px;
    color: var(--Light-Grey, #8491a0);
    text-align: center;
    line-height: 150%;
  }

  .education-icon {
    width: 18px;
    aspect-ratio: 1.39;
    object-fit: auto;
    object-position: center;
  }

  .education-date {
    font-family: Poppins, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
  }

  .education-institute {
    align-self: start;
    display: flex;
    gap: 5px;
    font-size: 12px;
    color: var(--light-Content, #a7a7a7);
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 233%;
  }

  .education-location-icon {
    width: 18px;
    aspect-ratio: 1.49;
    object-fit: auto;
    object-position: center;
    align-self: start;
  }

  .education-location {
    font-family: Poppins, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
  }

  .education-separator {
    width: 100%;
    min-height: 2px;
    margin-top: 25px;
    background-color: var(--Colors-Grey, #ebeaed);
  }

  @media (max-width: 991px) {
    .education-separator {
      max-width: 100%;
    }
  }

  /* testimonial */
  
  *,*::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



#carouselExampleCaptions {
  margin: auto;
  margin-top: 100px;
  width: 80vw;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-inner {
    width: 100%;
}

.new {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline;
}

/* Controls */
i.fa-arrow-right,
i.fa-arrow-left {
  background: none;
  border: 2px solid #ffc107;
  color: black;
  padding: 10px;
  border-radius: 100%;
  transition: background .6s ease;
}

.control-btn  {
    position: absolute;
    top: -1em;
    right: 5em;
}

.carousel-item .card {
    height: 20em;
    height: fit-content;
}

.control-btn i.fa-arrow-left {
    position: absolute;
    right: 6em;
} 

i.fa-arrow-right:hover,
i.fa-arrow-left:hover {
  background: #ffc107;
  color: black;
}

.carousel-control-next {
    margin: 0 3em;
}

/* Indicators */

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 2px solid #ffc107;
}

.carousel-indicators .active {
    opacity: 1;
    background-color:  #ffc107;
}

@media screen and (max-width: 900px){
#carouselExampleCaptions {
  width: 70vw;
  height: 70vw;
}

.card img {
    width: 100%;
}

.card .name {
  margin-top: 1em;
    font-size: 1em;
    font-weight: 700;
}

.card .role {
    font-size: 0.8em;
}

.card .work-at {
    font-size: 0.6em;
}
}

@media screen and (max-width: 576px) {
#carouselExampleCaptions {
  width: 70vw;
  height: 70vh;
}

.carousel-item .card .card-body {
position: absolute;
bottom: 20px;
left: 10px;
background-color: rgba(18, 18, 18, 0.9);
border-radius: 10px;
}

}